/* 人気レシピ -----------------------------*/
/* タイトル部分 */
.icon-star{
  margin-right:10px; 
  height: 25px;
  width: 25px;
}
.content-title{
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.recipes-index-title{
  color: #cb2f27;
  font-size: 20px;
  font-weight: bolder;
}
/* MAIN 画像・タイトル・カテゴリー・調理時間*/
/* MAIN 画像 */
.main-box{
  padding-right:10px;
  padding-left:10px;
}
.main-box-img{
  position: relative;
}
.img-main {
  width:100%;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 30px;
}
.fixed-like-box{
  height: 100px;
  position: absolute;
  top: 22px;
  left:30px;
}
.white-block{
  height: 35px;
  width: 160px;
  background-color: #fffbf6;
  border-radius: 20px;
  position: absolute;
  top: 18px;
  left:18px;
}
/* MAIN 詳細 */
.famous-big-box{
  width:96%;
  margin-top:10px;
}
.big-category-time{
  width:100%;
  margin: 0 10px ;
  display: flex;
  border-bottom: dashed 1px #cb2f27;
}
.famous-title{
  margin-bottom: 10px; 
  padding: 5px 10px 5px 5px;
  display: flex;
  align-items: center;
  color:#cb2f27;
  font-size: 15px;
  font-weight: bold;
}
.big-index-recipe-category{
  width:50%;
  margin: 0 0 5px 10px; 
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bolder;
}
.big-index-recipe-time{
  width:50%;
  margin: 0 0 5px 10px; 
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bolder;
}
/* SECOND 画像・タイトル・カテゴリー・調理時間*/
.second-box-big{
  padding-right:10px;
}
.second-box{
  width: 100%;
  height:50%;
  margin-top: 10px;
  display: flex;
}
.second-box-img{
  width: 55%;
}
.img-second{
  width:100%;
  height:90%;
  padding-left:6px;
  border-radius: 20px;
  object-fit: cover;
}
.second-box-famous{
  margin-left: 15px; 
  margin-top: 8px; 
  width:45%;
}
.famous-title{
  margin-top: 5px; 
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  color:#cb2f27;
  font-size: 15px;
  font-weight: bold;
}
.index-recipe-category{
  margin-top: 5px; 
  padding: 5px 10px 5px 5px;
  display: flex;
  align-items: center;
  border-bottom: dashed 1px #cb2f27;
  font-size: 15px;
  font-weight: bolder;
}
.index-recipe-time{
  margin-top: 5px; 
  padding: 5px 10px 5px 5px;
  display: flex;
  align-items: center;
  border-bottom: dashed 1px #cb2f27;
  font-size: 14px;
  font-weight: bolder;
}
/* 検索ボックス ---------------------------------------*/
.search-contents{
  width: 100%;
  padding: 30px 35px;
  margin-top: 80px;
  border:2px dashed #cb2f27;
  border-radius: 10px;
}
.search-contents h2{
  margin-bottom: 20px;
  font-size: 25px;
  border-radius: 20px;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.search-contents label{
  font-size: 15px;
  font-weight: 700;
}
.input-search{
  padding: 0 10px 0 10px;
  margin: 4px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  /* border: 1px solid #cb2f27; */
  background-color: #fde9e2;
  border: none;
}
.search-btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-search{
  margin-top:30px;
  padding: 10px 50px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  color: #ffffff;
  background-color: #cb2f27;
  cursor: pointer;
  position: relative;
}
.btn-search:hover{
  transition: 0.3s ;
  background-color: #e7706a;
}
.search-btn-box .icons-type{
  position: absolute;
  top : 55%;
  left: 30%;
}

/* レシピ表示 ---------------------------------------*/
/* 共通項目 */
.list-wrap{
  margin: 0 20px;
  margin-top: 80px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.index .icons-type{
  height: 6%;
  width: auto;
}
.black{
  color: #cb2f27;
}
.list{
  padding: 1.5% 1.5% 1.5% 1.5%;
  margin-bottom:20px;
}
.index span{
  font-size: 13px;
  font-weight: bold;
  color: #cb2f27; 
}
/* h2 タイトル */
.list-wrap h2{
  margin-bottom: 40px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.4em;
  position: relative;
}
.list-wrap h2::after {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg,#cb2f27, #cb2f27 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* 正方形維持 */
.recipe-img-index{
  position: relative;
}
.recipe-img-index:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}
.recipe-img-index .img-recipe {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  object-fit: cover;
}
/* h3 タイトル */
.recipe-title h3{
  width: 100%;
  height: 20px;
  color: #cb2f27;
  font-weight: bolder;
  font-size: 1em;
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* カテゴリー */
.table-index {
  border-collapse: separate;
  border-spacing: 0px 2px;
}
/* もっと見る -----------------------------------*/
.btn-more-box{
  display: flex;
  justify-content: center;
}
.btn-more{
  height: 50px;
  width: 300px;
  margin-top: 20px ;
  border: solid 2px #cb2f27;
  border-radius: 30px;
  color: #cb2f27;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-more:hover{
  transition: 0.3s ;
  color: #ffffff;
  background-color:#dd7069 ;
}