h2 {
  color: #cb2f27;
  font-size: 35px;
}

.recipes-post-main{
  margin-top: 80px;
}

.recipes-feature{
  height: 120px;
}

/* 画像を選択ボタン */
.click-upload{
  height: 30px;
  width: 100%;
  margin: 10px 15px 0 15px;
  font-weight: bold;
  color: #cb2f27;
  border: 2px solid #cb2f27;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.click-upload:hover{
  transition: 0.3s ;
  color: #ffffff;
  background-color:#dd7069 ;
}

.upload-btn{
  display: none;
}