/* レシピ新規作成、編集 -------------------------- */
h2 {
  color: #cb2f27;
  font-size: 35px;
}
.recipes-post-main{
  margin-top: 80px;
}
/* 画像プレビュー部分 -------------------------------*/
/* 選択ボタン */
.click-upload{
  height: 30px;
  width: 100%;
  margin: 10px 15px 0 15px;
  font-weight: bold;
  color: #cb2f27;
  border: 2px solid #cb2f27;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.click-upload:hover{
  transition: 0.3s ;
  color: #ffffff;
  background-color:#dd7069 ;
}
.upload-btn{
  display: none;
}
/* プレビューされた画像  */
.image-box-s{
  position: relative;
  margin:10px;
}
.image-box-s:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}
.image-box-s .image-size {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  object-fit: cover;
}
/* 編集削除ボタン  */
.change-box-edit-delete{
  margin: 5px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bolder;
  color: #cb2f27;
}
.change-box{
  padding: 5px;
}
/* 冷凍保存・冷蔵保存 */
.form-box .mx-3{
  font-size: 14px;
  font-weight: bolder;
}
/* 材料箇所のデザイン ------------------------------ */
/* 材料追加ボタン */
.add_fields{
  height: 30px;
  width: 100%;
  /* margin: 0 15px 20px 15px; */
  margin-bottom: 15px;
  font-weight: bold;
  color: #cb2f27;
  border: 2px solid #cb2f27;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.add_fields:hover{
  transition: 0.3s ;
  color: #ffffff;
  background-color:#dd7069 ;
}
/* テーブル形 */
.nested-fields table{
  /* margin: 0 15px 0 15px; */
  display: table;
	table-layout: fixed;
	width: 100%;
}
.td-fixed-select{
  width:35%;
}
.td-fixed-spoon{
  width:15%;
  text-align: right;
}
.td-fixed-amount{
  width:25%;
}
.td-fixed-unit{
  width:10%;
}
.td-fixed-delete{
  width:15%;
}
/* テーブルデザイン */
.select{
  width:100%;
  height: 100%;
  padding: 8px;
  line-height : 2;
  background-color :#fef2ee;
  border-radius : 8px;
  border : none;
}
.box-spoon{
  font-size: 13px;
  font-weight: bolder;
  color: black;
}
.box-unit{
  font-size: 13px;
  font-weight: bolder;
  color: black;
}
.ingredients-amount{
  width:100%;
  height: 100%;
  padding: 5px;
  line-height : 2;
  background-color :#fef2ee;
  border-radius : 8px;
  border : none;
}
.td-fixed-delete{
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  color: #cb2f27;
}