
<div class="nested-fields" id="nested">
  <table class="table"> <%# table-borderless table-sm %>
    <tr>
      <td>
        <% thing_options = Thing.order(:id).map { |c| [c.thing_name, c.id, data: { unit: c.unit, spoon:c.spoon }] } %>
      </td>
      <td>
        <span><%= f.select(:thing_id, thing_options, { prompt: "---"}, {class:"ingredients-thing-name", id:"ingredient-thing-name"}) %></span> 
      </td>
      <td> 
        <span class="box-spoon" id='spoon-auto' data-spoon='0'>単位</span>
      </td>
      <td>  
        <span><%= f.number_field :amount, class:"ingredients-amount",id:"ingredient-amount", min:"0" %></span> 
      </td>
      <td>
      <span class="box-unit" id='unit-auto' data-unit='0'>単位</span>
      </td>
      <td>
        <%= link_to_remove_association "削除", f %>
      </td>
    </tr>
  </table>
</div>