<%= render "shared/header" %>
<%= render "shared/fixed-btn" %>

<div class="container">
  <div class="wrap">
    <h2 class="h2-title">レシピ</h2>
      <%= render "recipes/form_recipe" %>
    </div>
</div>
<%= render "shared/footer" %>
