.fixed-btn{
  width:270px;
  height:60px;
  padding: 10px;
  right:0px;
  bottom:10px;
  Z-index:10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #cb2f27;/* :#df5656 */
  color: #fffbf6;
  font-size:11px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.top-fixed{
  padding: 0 10px 0 15px;
  border-right: dotted 1px #FFFFFF;
}
.recipe-fixed{
  padding: 0 10px 0 10px;
  text-align: center;
}
/* アイコンサイズ、テキストフォントサイズ */
.icon-type-fixed{
  height: 25px;
  width: 25px;
}
.text-icon{
  color: #fffbf6;
  font-size:11px;
}