.main-logo{
  font-size: 28px;
  font-weight: 700;
  color: #cb2f27;
}
.img-logo-S{
  height: 40px;
  width: 180px;
  object-fit: cover;
}
.top-page-header{
  background-color: #fffbf6;
}
/* ヘッダーのボタン ---------------------*/
.nav-item{
  margin:5px 10px 0 0;
  font-size: 14px;
  font-weight: bolder;
  color: #cb2f27;
}
.nav-link{
  margin-left: 8px;
}
.nav-link:hover{
  transition: 0.3s;
  color:  #f19e99;
}
/* ヘッダーの赤色ボタン ---------------------*/
.btn-header-red{
  width: 100%;
  border-radius: 20px;
  color:white;
  background-color: #cb2f27;
  text-align: center;
}
.btn-header-red:hover{
  transition: 0.5s ;
  color:white;
  text-align: center;
  background-color:  #ca635e;
}
.btn-header-border{
  width: 100%;
  border-radius: 20px;
  color:#cb2f27;
  border: 2px solid #cb2f27;
  text-align: center;
}
.btn-header-border:hover{
  transition: 0.5s ;
  color:white;
  text-align: center;
  background-color:  #dd7069;
}






