<div class=fixed-btn>
  <div class="top-fixed">
    <a href="#header" class="icon-recipe text-icon">
      <%= image_tag "icon-tomato.png", alt:"TOP", class:"icon-type-fixed"%>
      <span>TOP</span>
    </a>   
  </div>
  <div class="recipe-fixed top-fixed">
    <a href="/recipes/new" class="icon-recipe text-icon">
      <%= image_tag "icon-recipe.png", alt:"RECIPE", class:"icon-type-fixed"%>
      <span>RECIPE</span>
    </a>
  </div>
  <div class="recipe-fixed">
    <a href="/recipes/new" class="icon-recipe text-icon">
      <%= image_tag "icon-cook.png", alt:"RECIPE", class:"icon-type-fixed"%>
      <span>COOK</span>
    </a>
  </div>
</div>