<div class=fixed-btn>
  <div class="top-fixed">
    <a href="#header" class="icon-recipe icon-text">
      <%= image_tag "icon-tomato.png", alt:"TOP", class:"icon-tomato"%>
      <span>TOP</span>
    </a>   
  </div>
  <div class="recipe-fixed">
    <a href="/recipes/new" class="icon-recipe icon-text">
      <%= image_tag "icon-recipe.png", alt:"RECIPE", class:"icon-recipe"%>
      <span>RECIPE</span>
    </a>
  </div>
</div>