/* フォーム */
.form-box{
  margin-top: 30px;
}
.forms-item{
  font-size: 15px;
  margin: 0 15px 0 15px;
  display: flex;
  align-items: center;
  color: black;
}
.input-area{
  height: 50px;
  padding: 10px;
  margin: 0 15px 0 15px;
  line-height : 2;
  background-color :#fef2ee;
  border-radius : 8px;
  border : none;
}
.input-area-wide{
  height: 150px;
  padding: 10px;
  margin: 0 15px 0 15px;
  line-height : 2;
  background-color :#fef2ee;
  border-radius : 8px;
  border : none;
}
/* ボタン */
.submit-btn{
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.submit-red-btn{
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 30px;
  background-color: #cb2f27;
  color: #FFFF;
}
.submit-red-btn:hover{
  transition: 0.5s ;
  height: 50px;
  width: 300px;
  border: none;
  border-radius: 30px;
  background-color: #dd7069;
  color: #FFFF;
}