/* ヘッダーを固定したことにより、コンテンツが被らないように調整 */
.wrap{
  padding-top: 50px;
}
.wrap-wide{
  padding-top: 100px;
}
/* aタグのデフォルト消し */
a{
  color: inherit;
  text-decoration: none;
}
/* ユーザーアイコンの形 */
.user-icon-s{
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 100%;
}
/* イラストアイコンの形 */
.icons-type{
  margin-right:4%; 
  height: 22px;
  width: 22px;
}
/* ページメインタイトル */
.h2-title {
  text-align: center;
  margin: 60px 0 60px 0;
  position: relative;
  padding: 1.5rem 1rem;
  font-size: 25px;
}
.h2-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #cb2f27, #cb2f27 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg,#cb2f27, #cb2f27 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* ブロック要素をセンターに持ってくるため */
.object-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* テーブルのパーツ */
.td-right{
  text-align: right;
}
.td-center{
  text-align: center;
}
/* レシピ登録がないときエラーが出ないように  */
.no-recipe{
  margin: 20px;
}