/* 選択したレシピを表示させる ------------------------------------- */
.under-line{
  padding-bottom: 10px;
  margin-bottom:10px;
  border-bottom: 3px dotted #cb2f27;
}
.recipe-lists h2{
  margin-bottom: 50px;
}
/* 画像 */
.recipe-img-do_cook{
  position: relative;
  margin: 10px;
  width: 80%;
}
.recipe-img-do_cook:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}
.recipe-img-do_cook .img-recipe {
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  object-fit: cover;
}
/* 材料 */
/* ＊＊テーブル */
.ingredients-box{
  margin: 10px;
}
.ingredients-box h3{
  font-size: 20px;
  color: #cb2f27;
  font-weight: bolder ;
}
.table-ingredients h4{
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 16px;
  color: black;
  font-weight: bolder ;
}

.table-ingredients{
  table-layout: fixed; 
  font-size: 15px;
  color: black;
  font-weight: bolder ;
}
.td-position{
  text-align: center;
}
/* 共通 何人前入力・選択ボタン */
.calc-choice-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 何人前入力するところ */
.calc-box{
  margin: 5px;
  display: flex;
  align-items: center;
}
.input-number{
  width: 50px;
  height: 40px;
  margin-right: 5px;
  padding: 10px;
  background-color: #fde9e2;
  border-radius: 10px;
  border: none;
  outline: none;
}
.calc-box span{
  width:30px;
  font-size: 12px;
  font-weight: bolder;
}
/* 計算が反映されるところ */
.output-calc{
  height: 40px;
}
.output{
  width:50px;
  height: 50px;
  padding: 10px;
  background-color: #fde9e2;
  border-radius: 10px;
}
/* 選択ボタン */
.space-choice-box{
  margin-left: 5px;
}